body {
	background-color: #eefcc7;
}

#ulfield {
	border-radius: 5px;
	background: #404853;
	background: linear-gradient(#687587, #404853);
	background: -o-linear-gradient(#687587, #404853);
	background: -webkit-linear-gradient(#404853, #000000);
	margin: 4px auto;
	width: 1000px;
	height: 38px;
}

#ulfield ul {
	position: relative;
	list-style: none;
	margin: 0px;
}

#ulfield li {
	float: left;
}

#ulfield a {
	text-decoration: none;
	background: #404853;
	background: linear-gradient(#687587, #404853);
	background: -o-linear-gradient(#687587, #404853);
	background: -webkit-linear-gradient(#404853, #000000);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	color: #fff;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 0 20px;
	line-height: 38px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
	width: auto;
}

#ulfield a:hover {
	background: #0c2d0d;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	color: #d0d2d5;
}

#ulfield li:first-child a {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#ulfield p {
	margin: 10px;
	float: right;
	color: #6a942f;
}

#fieldset {
	background: -o-linear-gradient(top, #a1e048, #6a942f);
	background: -webkit-linear-gradient(top, #a1e048, #6a942f);
	background: linear-gradient(top, #a1e048, #6a942f);
	border-radius: 5px;
	overflow: hidden;
	margin: 20px auto;
	width: 1000px;
	height: auto;
	position: relative;
	max-height: 2000px;
}

.pub {
	margin: 200px;
	padding: 10px;
	float: left;
	margin: 4px auto;
}

.pub img {
	
}

.price {
	clear: both;
}

.pub .title {
	float: left;
}

.pub .cost {
	float: right;
}

.button {
	-webkit-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear
		0.2s, color 0.2s linear 0.2s;
	-moz-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear
		0.2s, color 0.2s linear 0.2s;
	-o-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s,
		color 0.2s linear 0.2s;
	transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s,
		color 0.2s linear 0.2s;
	background-color: #f00; /* background default state */
	border-radius: 16px;
	color: rgba(255, 255, 255, 0.1);
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 32px;
	overflow: hidden;
	padding-right: 32px;
	position: relative;
	text-decoration: none;
	text-indent: -20px;
	max-width: 0;
	white-space: nowrap;
	vertical-align: middle;
	text-align: right;
}

.button_icon {
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-moz-transition: transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	border-radius: 16px;
	color: rgba(255, 255, 255, 1);
	font-size: 1.3em;
	height: 100%;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 0;
	width: 32px;
}

.button:hover {
	-webkit-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear
		0.2s, color 0.2s linear 0.2s;
	-moz-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear
		0.2s, color 0.2s linear 0.2s;
	-o-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s,
		color 0.2s linear 0.2s;
	transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s,
		color 0.2s linear 0.2s;
	color: rgba(255, 255, 255, 1);
	max-width: 150px;
	text-indent: 20px;
}

.button:hover .button_icon {
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-moz-transition: transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

/* add button */
.button_type__add,.button_type__add .button_icon {
	background: #0c2d0d;
}

.button_type__add .button_icon:before {
	content: '+';
}

.button_type__add:hover .button_icon {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}
/* remove button */
.button_type__remove,.button_type__remove .button_icon {
	background-color: #f26c4f;
}

.button_type__remove .button_icon:before {
	content: '–';
}